*,
*:before,
*:after {
  box-sizing: border-box;
}
*::selection {
  background: #7effcc;
}
html {
  font-size: 16px;
}
header {
  position: fixed;
  z-index: 2001;
  background-color: #fff;
  width: 100vw;
}
div:focus {
  outline: none !important;
}
p {
  color: #000;
}
h1 {
  font-size: 2rem;
}
a {
  color: #7effcc;
}
a:hover,
a:focus {
  text-decoration: none;
}
.index {
  padding-top: 15px !important;
}
#hello,
position absolute,
float none {
  padding: 10px;
  border: 3px solid #000;
  text-align: center;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  height: 95vh;
  display: flex;
  align-items: center; /* Align the flex-items vertically */
  justify-content: center; /* Optional, to align inner flex-items 
                              horizontally within the column  */
}
.rb-sub-menu .rb-element a {
  color: #000;
}
.rb-sub-menu .rb-element a:hover {
  color: #7effcc;
}
.rb-sub-menu .rb-menu-el-title {
  margin: 12px 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
}
.rb-sub-menu .rb-menu-el-title :hover {
  text-decoration: none;
}
.rb-element {
  display: inline-block;
  padding: 0 10px;
}
.overlap {
  color: #000;
  width: 105vh;
  position: absolute;
  background-color: #fff;
  z-index: 1001;
  transition: transform 1s cubic-bezier(0.5, 0, 0, 1.05);
}
.RBoverlaphover {
  transform: translate3d(248px, 0, 0);
}
.Portfoliooverlaphover {
  transform: translate3d(196px, 0, 0);
}
#rb-bottom {
  background-color: #fff;
  z-index: 0;
}
.rb-body {
  background-color: #fff;
  padding: 114px 5px 5px 5px;
  height: 100vh;
}
.blog {
  padding-bottom: 10px;
}
.rb-img-grid {
  padding: 5px;
}
.rb-line-text {
  color: #000;
  border-top: 3px solid #7effcc;
  font-weight: normal;
}
.rb-line-text :first-child {
  margin-top: 0.5em;
}
.rb-layout-element {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
}
.rb-row-line {
  padding: 10px 0px;
  border-bottom: 3px solid #7effcc;
}
.rb-img-grid {
  position: relative;
}
.rb-img-grid .rb-link {
  margin-top: 0px;
  position: relative;
  color: #000;
}
.rb-img-grid .rb-link :hover {
  color: #7effcc;
}
.rb-img-grid .rb-link h2 {
  margin: 0px;
}
.rb-img-grid .rb-link {
  font-size: 2em;
}
.rb-img-grid .rb-link :hover {
  color: #7effcc;
}
.rb-hidden-portfolio {
  margin-top: 10px;
}
@media screen and (max-width: 1024px) {
  body {
    background-color: #fff;
  }
  .rb-rotate {
    margin-left: 12px;
    margin-right: 12px;
    position: initial;
    width: initial;
    top: 100%;
    -ms-transform: initial;
    -webkit-transform: initial;
    transform: initial;
    transform-origin: initial;
  }
  .rb-sub-menu {
    display: inline-block;
    border-left: none;
    border-top: none;
    border-bottom: none;
    margin-top: 2px;
  }
  .rb-sub-menu .rb-element {
    border-left: none;
    border-bottom: none;
  }
  .rb-menu-el-title {
    font-size: 20px;
  }
  .overlap {
    display: none;
  }
  .rb-body {
    padding-top: 48px;
  }
  .rb-img-blog img {
    max-width: 250%;
  }
}
@media screen and (max-width: 767px) {
  .rb-img-grid .rb-link {
    position: relative;
  }
}
